.navigation {
  margin: 0 -30px;
  padding: 25px 45px;
  font-size: 20px;
  line-height: 24px;
  background: #f1f1f1;
  border-radius: 10px;
}

.navigation__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}

.navigation__list {
  margin: 0;
  padding: 0 0 0 25px;
}

.navigation__item {
  margin: 0 0 10px 0;
  color: #02535f;
}

.navigation__link {
  border-bottom: 1px solid #000;
}